@page
@model Salud.Web.App.Pages.Patients.EditModel

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Patient.PatientId" />
            <div class="form-group">
                <label asp-for="Patient.FirstName" class="control-label"></label>
                <input asp-for="Patient.FirstName" class="form-control" />
                <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.LastName" class="control-label"></label>
                <input asp-for="Patient.LastName" class="form-control" />
                <span asp-validation-for="Patient.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Dni" class="control-label"></label>
                <input asp-for="Patient.Dni" class="form-control" />
                <span asp-validation-for="Patient.Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.DateBirth" class="control-label"></label>
                <input asp-for="Patient.DateBirth" class="form-control" />
                <span asp-validation-for="Patient.DateBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.NumberPhone" class="control-label"></label>
                <input asp-for="Patient.NumberPhone" class="form-control" />
                <span asp-validation-for="Patient.NumberPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Country" class="control-label"></label>
                <input asp-for="Patient.Country" class="form-control" />
                <span asp-validation-for="Patient.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.City" class="control-label"></label>
                <input asp-for="Patient.City" class="form-control" />
                <span asp-validation-for="Patient.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Street" class="control-label"></label>
                <input asp-for="Patient.Street" class="form-control" />
                <span asp-validation-for="Patient.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.HealthInsurance" class="control-label"></label>
                <input asp-for="Patient.HealthInsurance" class="form-control" />
                <span asp-validation-for="Patient.HealthInsurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Disease" class="control-label"></label>
                <input asp-for="Patient.Disease" class="form-control" />
                <span asp-validation-for="Patient.Disease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.AllergicMedicine" class="control-label"></label>
                <input asp-for="Patient.AllergicMedicine" class="form-control" />
                <span asp-validation-for="Patient.AllergicMedicine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.SendEmailConfirmed" class="control-label"></label>
                <input asp-for="Patient.SendEmailConfirmed" class="form-control" />
                <span asp-validation-for="Patient.SendEmailConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
